---
import Layout from "../layouts/Layout.astro";
import SourceLink from "../components/SourceLink.astro";
import RunningNavigation from "../components/RunningNavigation.astro";

import questions from "../data/questions.json";

// FIXME: This will need to be replaced with a better check by new years if
// I want to keep the information available. On January 1, this will return 1.
const currentDate = new Date().getDate();
const questionOfTheDay = questions[currentDate - 1];
const lastDateToShow = currentDate + 1;
const toShow = questions.slice(0, lastDateToShow);
---

<Layout title="Twentyfour Days of Software Consulting">
  <main>
    <div class="title-container">
      <p class="info-paragraph">
        The Corporate Software Engineering equivalent of a Beer Calendar.
      </p>
      <h1>
        Twenty-four Days of <span class="text-emphasis"
          >Software Consulting</span
        >
      </h1>

      <div class="question-container">
        <p>Today:</p>
        <a href={"/s/of/consulting/" + currentDate} class="question-link"
          >{questionOfTheDay.question}</a
        >
      </div>
      <RunningNavigation links={toShow} />
    </div>
    <SourceLink />
  </main>
</Layout>

<style>
  main {
    margin: auto;
    width: 800px;
    max-width: calc(100% - 2rem);
    color: white;
    font-size: 20px;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  h1 {
    font-size: 4rem;
    font-weight: 700;
    line-height: 1;
    margin-bottom: 1em;
  }
  .title-container {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    flex-direction: column;
  }
  .info-paragraph {
    font-weight: 300;
    margin: 0;
    font-size: 1rem;
  }
  .text-emphasis {
    color: rgb(251, 110, 110);
    text-shadow:
      3px 3px 0px rgba(0, 0, 0, 1),
      6px 6px 0px white;
  }
  .question-container {
    margin-bottom: 2rem;
    width: 100%;
    text-align: left;
  }
  .question-container > * {
    padding: 0;
    margin: 0;
  }
  .question-container > p {
    font-size: 0.9rem;
  }
  .question-link {
    margin-bottom: 1rem;
    font-weight: 300;
    font-size: 1.7rem;
    text-shadow: 1px 1px 0px rgba(251, 110, 110, 1);
    text-decoration: none;
    color: white;
  }
  .question-link:hover {
    text-decoration: underline;
  }
</style>
