---
import Layout from "../../../../layouts/Layout.astro";
import SourceLink from "../../../../components/SourceLink.astro";

import questions from "../../../../data/questions.json";

const dayIndex = Astro.params.dayIndex;

if (!dayIndex) {
  return Astro.redirect("/");
}

const parsedIndex = parseInt(dayIndex);

if (parsedIndex < 1 || parsedIndex > 24) {
  return Astro.redirect("/");
}
const question = questions[parsedIndex - 1];

const currentDate = new Date().getDate();
const disallowAccess = currentDate < parsedIndex;
const linksToShow = questions.slice(0, currentDate)

if (disallowAccess) {
  return Astro.redirect("/");
}
---

<Layout title={`Twentyfour.days - ${question.question}`}>
  <main>
    <div class="title-container">
      <SourceLink />
      <h1><span class="text-emphasis">{parsedIndex}. {question.question}</span></h1>
      {!disallowAccess && <p>{question.answer}</p>}
      <ul class="link-list">
        {linksToShow.map((_, i) => (
          <li>
            <a href={`/s/of/consulting/${i+1}`}>{i+1}</a>
          </li>
        ))}
      </ul>
    </div>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1rem;
    width: 800px;
    max-width: calc(100% - 2rem);
    color: white;
    font-size: 20px;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  h1 {
    font-size: 4rem;
    font-weight: 700;
    line-height: 1;
    margin-bottom: 1em;
  }
  .title-container {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  .text-emphasis {
    color: rgb(251, 110, 110);
    text-shadow:
      3px 3px 0px rgba(0, 0, 0, 1),
      6px 6px 0px white;
  }
  .link-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    padding-left: 0;
  }

  .link-list li {
    list-style: none;
  }

  .link-list > li > a {
    color: rgb(251, 110, 110);
    padding: 0.5rem;
    font-size: 0.9rem;
  }

  .link-list > li > a:visited {
    color: white;
  }
</style>
